<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>mlapt test</title>
</head>

<body>
    <button onclick="my_train()">Train</button>
    <button onclick="my_predict()">Predict</button>
    <button onclick="my_status()">Status</button>
    <input name="task_id">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript">
        function my_train() {
            $.post('http://localhost:5000/submit', {
                'alg_name': 'LROLS',
                'task_type': 0,
                'data_path': 'testworkdir/train.csv',
                'model_dir': 'testworkdir',
                'result_dir': 'testworkdir'
            }, function (data) {
                console.log(data);
            });
        }

        function my_predict() {
            $.post('http://localhost:5000/submit', {
                'alg_name': 'LROLS',
                'task_type': 1,
                'data_path': 'testworkdir/predict.csv',
                'model_dir': 'testworkdir',
                'result_dir': 'testworkdir'
            }, function (data) {
                console.log(data);
            });
        }

        function my_status() {
            $.get('http://localhost:5000/status?task_id=' + $('input[name="task_id"]').val(),
                function (data) {
                    console.log(data);
                });
        }
    </script>
</body>

</html>